.pathological-other {
    padding: 0px;
    margin-bottom: 10px;
    border: 0px;
    box-shadow: 0px;
    .panel-heading {
        @include title-box(97px);
    }
    .panel-body {
        padding: 0px;
        ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            li {
                padding: 7px 0px 7px 0px;
                &+li {
                    border-top: 1px solid $color_12;
                    a {
                        padding-left: 15px;
                        @include background($url_icon, no-repeat, 0px -62px);
                        display: block;
                        font-size: 14px;
                        line-height: 16px;
                        font-family: 'Roboto Slab', serif;
                        font-weight: bold;
                        color: $color_b;
                    }
                }
                &:last-child {
                    padding-bottom: 0px;
                }
                &:first-child {
                    img {
                        height: 181px;
                    }
                    a+a {
                        font-family: 'Roboto Slab', serif;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 18px;
                        margin: 3px 0px;
                        display: block;
                    }
                    span {
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                        display: block;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}