.category {
    border: 0px;
    box-shadow: none;
    // margin: 0px;
    margin-bottom: 10px;
    .panel-heading {
        @include title-box(88px);
    }
    .panel-body {
        padding: 0px;
        .item {
            display: block;
            float: left;
            width: calc(33.33% - 10px);
            &:not(:first-child) {
                margin-left: 15px;
            }
            img {
                height: 175px;
            }
            @extend %info;
        }
        &>ul {
            display: inline-block;
            padding: 0px;
            list-style-type: none;
            margin-top: 5px;
            margin-bottom: 0px;
            li {
                margin-left: 15px;
                min-height: 44px;
                width: calc(33.33% - 10px);
                display: block;
                float: left;
                padding: 6px 0px 7px 14px;
                border-top: 1px solid $color_12;
                @include background($url_icon, no-repeat, 0px -55px);
                a {
                    font-family: 'Roboto Slab', serif;
                    font-size: 14px;
                    line-height: 15px;
                    display: block;
                }
                &:nth-child(3n+1) {
                    margin-left: 0px;
                }
                &:last-child {
                    padding-bottom: 0px;
                }
            }
        }
    }
}